# Flask environment
FLASK_ENV=development

# Image storage
IMAGE_STORAGE_DIR=/home/simon/images
IMAGE_BASE_URL=https://images/com
IMAGE_OUTPUT_FORMAT=webp
ITEM_IMAGE_DISPLAY_SIZE=180
IMAGE_MAX_SIZE=16777216

